.copyrights {
    width: 100%;
    height: 736px;
    align-self: center;
    font-family: Maven-Pro-Regular;
    color: rgba(69, 69, 69, 255);
    background: #222222;
    height: auto;
    padding: 10px 0;
    font-size: 8.65655pt;
    text-align: justify;
    /* justify-content: center; */
    display: flex;
}

.copyrights p{
    background: #222222;  
    width: 370px;    
}