.galleryContainer{
    width: 370px;
    height: 736px;
    background: white;
    align-self: center;
    /* display: none; */
    padding: 20px 0;
    /* align-items: center; */
    /* display: flex; */
}

.gallery{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 100%; */
    /* width: 90%; */
    /* border-bottom: 2px solid #2b2b2b; */
    align-self: center;
    margin: 0;
}

.btn-group{
    align-self: center;
    /* border: 2px solid black; */
    border-radius: 15px;
  background-color: var(--nav-background-color); 
  color: var(--nav-font-hover);
  height: 20px;
  display: flex;
}


.btn-group .button {
    /* background-color: var(--nav-background-color);  */
    background: transparent;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    margin: 5px 0;
   /* border: solid 3px rgb(70, 69, 69); */
   border: none;    
   font-family: lato-bold;
   align-self: center;
}

.btn-group .button:hover {
    color: var(--nav-font-hover);
}

.imgs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-between;
    /* margin-top: 20px; */
    /* background: pink; */
    height: 300px;
    align-items: center;
    cursor: pointer; 
    /* display: none;  */
}
.imgs img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid black;
    margin-top: 10px;
}

.keywords{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* align-items: space-between; */
    margin-top: 20px;
    /* background: pink; */
    /* height: 50px; */
    /* align-items: center; */ 
    width: 80%;
    align-self: center;
}

.keywords h1,h2,h3,h4,h5,h6{
    font-family: lato-bold; 
    margin: 0 0 5px 5px;
    color: rgb(145, 140, 140);
    align-self: center;
    
}

.search-box{
    width: 200px;
    margin-top: 20px;
    align-self: center;
}