.navContainer{
    background-color: var(--nav-background-color);
    height: 60px;
    width: 370px;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;;
    padding: 0px;
}

nav ul li{
    color: var(--nav-font-color);
    list-style: none;
    text-transform: uppercase;
    font-size: 10px;
    font-family: lato-bold;
    cursor: pointer;
}

nav ul li:hover{
    color: var(--nav-font-hover);
}

nav .logo{
    width: 64px;
    height: 60px;
    /* position: absolute; */
}

nav .bglogo{
    width: 180px;
    height: 90px;
    position: absolute;
    
}

.dot{
    color: var(--nav-font-hover);
    cursor: auto;
}

.bottom-nav{
    display: flex;
    width: 370px;
    background: white;
    height: 35px;
}

.bottom-nav ul{
width: 100%;
display: flex;
justify-content: space-around;
padding: 0;
margin: 0;
padding-left: 12px;
}

.bottom-nav ul li{
    list-style: none;  
    width: 100px;  
}

.bottom-nav ul li hr{
    border-color: #e4e9eb;
}