@import "_vars.css";
@import "_nav.css";
@import "_fonts.css";
@import "_gallery.css";
@import "_contact.css";
@import "_aboutUs.css";
@import "_copyrights.css";
@import "_hexagon.css";
@import "_memeMaker.css";



body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    background: gray;
}

header{
    align-self: center;
}

.hider{
    display: none;
}
.display-none{
display: none;
}
